body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.mcq-container {
    flex: 3; /* Increased value to give more space to MCQ generation box */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
select {
    
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="text"] {
    max-width: 350px; /* Set the maximum width for text input fields */
}

input[type="number"] {
    width: 25%; /* Full width for number input fields */
}

select {
    width: 100%; /* Full width for the dropdown */
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.mcq-display {
    margin-top: 20px;
}

.mcq-question {
    margin-bottom: 15px;
}

.mcq-options {
    margin-left: 20px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .form-container, .mcq-container {
        margin-bottom: 20px;
    }
}

#loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 9999; /* Ensure loading indicator appears above other content */
}

#loading-indicator p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* styles1.css or inline style in head */
.alert-success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1000;
}